@section Scripts {
    <script src="~/js/estimate-files-input.js?v=1.1"></script>
    <script src="~/js/calendar-plan.js?v=1.1"></script>
    <script src="~/js/labor-costs-duration.js?v=1.1"></script>
    <script src="~/js/energy-and-water.js?v=1.1"></script>
}

<div class="snowflakes" aria-hidden="true">
    <div class="snowflake">
        ❅
    </div>
    <div class="snowflake">
        ❆
    </div>
    <div class="snowflake">
        ❅
    </div>
    <div class="snowflake">
        ❆
    </div>
    <div class="snowflake">
        ❅
    </div>
    <div class="snowflake">
        ❆
    </div>
    <div class="snowflake">
        ❅
    </div>
    <div class="snowflake">
        ❆
    </div>
    <div class="snowflake">
        ❅
    </div>
    <div class="snowflake">
        ❆
    </div>
    <div class="snowflake">
        ❅
    </div>
    <div class="snowflake">
        ❆
    </div>
</div>
<div class="pos">
    <div class="choose-estimates mb-3">
        <label for="estimate-files" class="form-label">Выберите сметы (до 20 мес.)</label>
        <div class="spinner-border spinner-border-sm text-primary" id="spinner" role="status">
            <span class="sr-only"></span>
        </div>
        <input name="estimateFiles" class="form-control" type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" id="estimate-files" multiple>
    </div>
    <div class="pos-buttons mb-3">
        <button type="button" class="btn btn-primary" id="calendar-plan-btn">
            Календарный план
        </button>
        <div class="btn-group">
            <button type="button" class="btn btn-primary" id="labor-costs-duration-btn">Продолжительность (по трудозатратам)</button>
            <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="visually-hidden"></span>
            </button>
            <div class="dropdown-menu labor-costs-duration-dropdown">
                <div class="labor-costs-duration-dropdown-item">
                    <input class="form-control" id="number-of-working-days" type="number" value="21.5" />
                    <label for="number-of-working-days">Количество рабочих дней в месяце</label>
                </div>
                <hr class="dropdown-divider">
                <div class="labor-costs-duration-dropdown-item">
                    <input class="form-control" id="working-day-duration" type="number" value="8" />
                    <label for="working-day-duration">Продолжительность рабочего дня, часов</label>
                </div>
                <hr class="dropdown-divider">
                <div class="labor-costs-duration-dropdown-item">
                    <input class="form-control" id="shift" type="number" value="1.5" />
                    <label for="shift">Сменность</label>
                </div>
                <hr class="dropdown-divider">
                <div class="labor-costs-duration-dropdown-item">
                    <input class="form-control" id="number-of-employees" type="number" value="4" />
                    <label for="number-of-employees">Количество работающих в бригаде </label>
                </div>
                <hr class="dropdown-divider">
                <div class="labor-costs-duration-dropdown-item">
                    <input class="form-control" id="technological-labor-costs" type="number" value="0" />
                    <label for="technologists-labor-costs">Трудозатраты по технологической карте, человеко/часов</label>
                </div>
                <hr class="dropdown-divider">
                <div class="labor-costs-duration-dropdown-item form-check form-switch form-switch-md">
                    <input class="form-check-input" type="checkbox" id="acceptance-time-included" checked>
                    <label class="form-check-label" for="acceptance-time-included">Включать время на приемку</label>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-primary" id="energy-and-water-btn">
            Энергия и вода
        </button>
    </div>
    <div class="percentages-table">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th rowspan="2" scope="col" class="align-middle text-center text-break">Наименование отдельных зданий, сооружений и видов работ</th>
                    <th colspan="20" scope="col" class="align-middle text-center">
                        Распределение капитальных вложений и обьемов  СМР по месяцам строительства, тыс.руб.
                    </th>
                </tr>
                <tr id="month-row">
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <div class="d-flex justify-content-between">
            <button type="button" class="btn btn-primary" id="calculate-percentages">
                Рассчитать задел, %
            </button>
            <button type="button" class="btn btn-primary btn-icon-with-text" id="download-calendar-plan-btn">
                <i class="download"></i>
                Скачать
            </button>
        </div>
    </div>
</div>