@model BGTG.Web.ViewModels.POSViewModels.POSViewModel

@{
    var cipher = ViewData["ConstructionObjectCipherForAttribute"];
}

<div class="pos-accordion">
    <input type="hidden" id="pos-@cipher" value="@Model.Id" />
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#pos-@cipher">
                ПОС
            </button>
        </h2>
        <div id="pos-@cipher" class="accordion-collapse collapse">
            <div class="accordion-body">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    @if (Model.DurationByLCViewModel is not null)
                    {
                        <div class="col pos-item">
                            <partial name="POSPartialViews\_DurationByLC" model="Model.DurationByLCViewModel" />
                        </div>
                    }
                    @if (Model.DurationByTCPViewModel is not null)
                    {
                        <div class="col pos-item">
                            <partial name="POSPartialViews\_DurationByTCP" model="Model.DurationByTCPViewModel" />
                        </div>
                    }
                    @if (Model.CalendarPlanViewModel is not null)
                    {
                        <div class="col pos-item">
                            <partial name="POSPartialViews\_CalendarPlan" model="Model.CalendarPlanViewModel" />
                        </div>
                    }
                    @if (Model.EnergyAndWaterViewModel is not null)
                    {
                        <div class="col pos-item">
                            <partial name="POSPartialViews\_EnergyAndWater" model="Model.EnergyAndWaterViewModel" />
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
