@using Calabonga.OperationResults

@model OperationResult<Calabonga.UnitOfWork.IPagedList<BGTG.Web.ViewModels.ConstructionObjectViewModel>>

@section Scripts {
<script src="~/js/construction-objects.js" asp-append-version="true"></script>
}

<div id="construction-objects">
    @if (Model.Ok)
    {
        <form asp-controller="ConstructionObjects" asp-action="Index">
            <div class="input-group mb-3">
                <input name="objectCipher" type="search" pattern="[\d\.-]+" class="form-control" placeholder="поиск по шифру объекта">
                <button class="btn btn-outline-success" type="submit">Поиск</button>
            </div>
        </form>
        @foreach (var constructionObject in Model.Result.Items)
        {
            <partial name="POSPartialViews/_ConstructionObject" model="constructionObject" />
        }
        <pager class="d-flex justify-content-center mt-3" asp-paged-list-page-size="Model.Result.PageSize"
           asp-paged-list-total-count="Model.Result.TotalCount"
           asp-paged-list-page-index="Model.Result.PageIndex"
           asp-paged-list-url="Index"
           asp-controller="ConstructionObjects"
           asp-route-parameter="pageIndex"></pager>
    }
    else if (Model.Metadata.Type == MetadataType.Error)
    {
        <div>
            @Model.Metadata.Message
        </div>
    }
</div>