<div class="d-flex flex-column align-items-center mt-3">
  <mat-form-field appearance="fill" style="width: 710px;">
    <mat-label>Шаблон</mat-label>
    <mat-select required disabled>
      <mat-option>--</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill" style="width: 710px;">
    <mat-label>ГИП</mat-label>
    <mat-select required disabled>
      <mat-option>--</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill" style="width: 710px;">
    <mat-label>Полное наименование объекта</mat-label>
    <textarea matInput placeholder="Электроснабжение станции..."></textarea>
  </mat-form-field>
  <mat-checkbox [checked]="true" class="mb-3">Бытовой городок</mat-checkbox>
  <div class="d-flex justify-content-between" style="width: 710px;">
    <button mat-raised-button color="primary">
      Скачать титульник
      <mat-icon>file_download</mat-icon>
    </button>
    <button mat-raised-button color="primary">
      Скачать содержание
      <mat-icon>file_download</mat-icon>
    </button>
    <button mat-raised-button color="primary">
      Скачать проект
      <mat-icon>file_download</mat-icon>
    </button>
  </div>
</div>
