@section Scripts {
    <script src="~/js/calendar-plan.js" asp-append-version="true"></script>
}

<div class="pos">
    <form asp-controller="Pos" method="post" enctype="multipart/form-data">
        <div class="choose-estimates mb-3">
            <label for="estimate-files" class="form-label">Выберите сметы (макс. прод. - 21 мес.)</label>
            <div class="spinner-border spinner-border-sm text-primary" id="spinner" style="display: none;" role="status">
            </div>
            <input name="estimateFiles" class="form-control" type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" id="estimate-files" multiple>
        </div>
        <div class="justify-content-between mb-3" style="display: none;" id="pos-btns">
            <div class="btn-group">
                <button asp-action="downloadLaborCostsDuration" type="submit" class="btn btn-primary" id="labor-costs-duration-btn">Продолжительность</button>
                <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="visually-hidden"></span>
                </button>
                <div class="dropdown-menu" id="labor-costs-duration-dropdown" style="width: 361px;">
                    <div class="d-flex align-items-center px-1">
                        <input name="NumberOfWorkingDays" class="form-control me-2" style="width: 81px;" id="number-of-working-days" type="number" value="21.5" />
                        <label for="number-of-working-days">Количество рабочих дней в месяце</label>
                    </div>
                    <hr class="dropdown-divider">
                    <div class="d-flex align-items-center px-1">
                        <input name="WorkingDayDuration" class="form-control me-2" style="width: 81px;" id="working-day-duration" type="number" value="8" />
                        <label for="working-day-duration">Продолжительность рабочего дня, часов</label>
                    </div>
                    <hr class="dropdown-divider">
                    <div class="d-flex align-items-center px-1">
                        <input name="Shift" class="form-control me-2" style="width: 81px;" id="shift" type="number" value="1.5" />
                        <label for="shift">Сменность</label>
                    </div>
                    <hr class="dropdown-divider">
                    <div class="d-flex align-items-center px-1">
                        <input name="NumberOfEmployees" class="form-control me-2" style="width: 81px;" id="number-of-employees" type="number" value="4" />
                        <label for="number-of-employees">Количество работающих в бригаде </label>
                    </div>
                    <hr class="dropdown-divider">
                    <div class="d-flex align-items-center px-1">
                        <input name="TechnologicalLaborCosts" class="form-control me-2" style="width: 81px;" id="technological-labor-costs" type="number" value="0" />
                        <label for="technological-labor-costs">Трудозатраты по технологической карте, человеко/часов</label>
                    </div>
                    <hr class="dropdown-divider">
                    <div class="d-flex align-items-center px-1 form-check form-switch" style="padding-left: 3.3rem!important;">
                        <input name="AcceptanceTimeIncluded" class="form-check-input me-3" style="transform: scale(1.5);" type="checkbox" id="acceptance-time-included" checked>
                        <label class="form-check-label" for="acceptance-time-included">Включать время на приемку</label>
                    </div>
                </div>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-primary" id="calendar-plan-btn">
                    Календарный план
                </button>
                <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="visually-hidden"></span>
                </button>
                <div class="dropdown-menu ps-2" id="calendar-plan-total-work-chapters" style="width: 250px;">
                    <div class="form-check mb-2">
                        <input class="form-check-input" style="transform: scale(1.5);" type="radio" name="exampleRadios" id="main-total-work-1-to-9-chapter" value="9">
                        <label class="form-check-label" for="main-total-work-1-to-9-chapter">
                            Итого по главам 1-9
                        </label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" style="transform: scale(1.5);" type="radio" name="exampleRadios" id="main-total-work-1-to-11-chapter" value="11">
                        <label class="form-check-label" for="main-total-work-1-to-11-chapter">
                            Итого по главам 1-11
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" style="transform: scale(1.5);" type="radio" name="exampleRadios" id="main-total-work-1-to-12-chapter" value="12" checked>
                        <label class="form-check-label" for="main-total-work-1-to-12-chapter">
                            Итого по последней сточке
                        </label>
                    </div>
                </div>
            </div>
            <button asp-action="downloadEnergyAndWater" type="submit" class="btn btn-primary" id="energy-and-water-btn">
                Энергия и вода
            </button>
        </div>
        <div class="flex-column mb-3" id="calendar-plan-failures" style="display: none;">
            <div class="mb-1" id="construction-start-date-failure" style="display: none;">
                <div class="text-danger me-1">
                    Что-то не так с датой начала строительства. Указать дату:
                </div>
                <input class="form-control form-control-sm" style="flex: 0 1 200px;" min="1900-01" type="month" />
            </div>
            <div id="construction-duration-failure" style="display: none;">
                <div class="text-danger me-1">
                    Что-то не так с продолжительностью строительства. Указать продолжительность:
                </div>
                <input class="form-control form-control-sm" style="flex: 0 1 200px;" min="1" max="21" type="number" />
            </div>
        </div>
    </form>
    <div id="percentages-table" class="overflow-auto mb-3" style="display: none;">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th rowspan="3" scope="col" class="align-middle text-center">Наименование отдельных зданий, сооружений и видов работ</th>
                <th colspan="22" scope="col" class="align-middle text-center">
                    Распределение капитальных вложений и обьемов  СМР по месяцам строительства, тыс.руб.
                </th>
            </tr>
            <tr id="month-row">
            </tr>
            <tr id="column-percents-row">
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="justify-content-between" style="display: none;" id="calendar-plan-btns">
        <button type="button" class="btn btn-primary" id="calculate-percentages">
            Рассчитать задел
            <i class="bi bi-percent"></i>
        </button>
        <button type="button" class="btn btn-primary" id="download-calendar-plan-btn">
            Скачать
            <i class="bi bi-download"></i>
        </button>
    </div>
</div>