@section Scripts {
<script src="~/js/pos/estimate-calculations.js" asp-append-version="true"></script>
<script src="~/js/pos/duration-by-tcp.js" asp-append-version="true"></script>
<script src="~/js/pos/project.js" asp-append-version="true"></script>
}

<div id="pos">
    <div class="input-group mb-3">
        <span class="input-group-text">Шифр объекта</span>
        <input type="text" id="construction-object-cipher" class="form-control" placeholder="В формате: Ц.Ц-Ч.Ч или Ц.Ц-Ч.Ч-Ч, где Ц - цифра, Ч - число." />
    </div>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#estimate-calculations" type="button">Сметные расчеты</button>
        </li>
        <li class="nav-item">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#duration-by-tcp" type="button">Продолжительность по ТКП</button>
        </li>
        <li class="nav-item">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#project" type="button">Записка</button>
        </li>
    </ul>
    <div class="tab-content mt-3">
        <div id="estimate-calculations" class="tab-pane fade show active">
            <partial name="_EstimateCalculations" />
        </div>
        <div class="tab-pane fade" id="duration-by-tcp">
            <partial name="_DurationByTCP" />
        </div>
        <div class="tab-pane fade" id="project">
            <partial name="_Project" />
        </div>
    </div>
</div>