<mat-form-field appearance="fill" [style.width.%]=100>
  <mat-label>Сметы в формате (.xlsx)</mat-label>
  <ngx-mat-file-input [accept]="'.xlsx'" required multiple (change)="estimateFilesSelected($event)"></ngx-mat-file-input>
  <mat-icon matSuffix>folder</mat-icon>
</mat-form-field>
<mat-tab-group dynamicHeight mat-align-tabs="center">
  <mat-tab>
    <ng-template mat-tab-label>
      Продолжительность по трудозатратам&nbsp;
      <mat-icon>schedule</mat-icon>
    </ng-template>
    <app-duration-by-lc [estimateFiles]="estimateFiles"></app-duration-by-lc>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      Календарный план&nbsp;
      <mat-icon>calendar_view_month</mat-icon>
    </ng-template>
    <app-calendar-plan [estimateFiles]="estimateFiles"></app-calendar-plan>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      Энергия и вода&nbsp;
      <mat-icon>electric_bolt</mat-icon>
      <mat-icon>water_drop</mat-icon>
    </ng-template>
    <div class="d-flex justify-content-center mt-3">
      <button mat-raised-button color="primary" [disabled]="!estimateFiles">
        Скачать
        <mat-icon>file_download</mat-icon>
      </button>
    </div>
  </mat-tab>
</mat-tab-group>
